{% extends "dashboard/dashboard.html" %}

{% block page_content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <card>
          <template slot="header">
            <h4 class="card-title">Enroll Individual Tax Payer</h4>
            <p class="card-category"></p>
          </template>
          
          <!-- content goes here -->
          <form action="/dashboard/enrollment/individual/create" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-warning" role="alert">
              {{ form.non_field_errors }}
            </div>
            {% endif %}

            <fieldset>
              <legend>Personal Information</legend>
              <div class="form-row">
                {% include "helpers/input.html" with field=form.surname col='col' %}

                {% include "helpers/input.html" with field=form.first_name col='col' %}

                {% include "helpers/input.html" with field=form.other_name col='col' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=form.dob col='col' %}

                {% include "helpers/input.html" with field=form.gender col='col' %}

                {% include "helpers/input.html" with field=form.marital_status col='col' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=form.nationality col='col' %}

                {% include "helpers/input.html" with field=form.state_of_origin col='col' %}

                {% include "helpers/input.html" with field=form.lga_of_origin col='col' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=form.occupation col='col' %}

                {% include "helpers/input.html" with field=form.employment_status col='col' %}

                {% include "helpers/input.html" with field=form.tax_payer_company col='col' %}
              </div>

            </fieldset>

            <fieldset>
              <legend>Contact Information</legend>
              <div class="form-row">
                {% include "helpers/input.html" with field=address_form.house_no col='col-4' %}

                {% include "helpers/input.html" with field=address_form.street col='col-8' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=address_form.city col='col' %}

                {% include "helpers/input.html" with field=address_form.ward col='col' %}

                {% include "helpers/input.html" with field=address_form.lga col='col' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=address_form.state col='col' %}

                {% include "helpers/input.html" with field=address_form.country col='col' %}

                {% include "helpers/input.html" with field=form.phone col='col' %}
              </div>

              <div class="form-row">
                {% include "helpers/input.html" with field=form.email col='col' %}
              </div>
            </fieldset>

            <button class="btn btn-info btn-fill float-right">Submit</button>
          </form>
          <!-- content ends -->

        </card>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}