{% extends "dashboard/dashboard.html" %} {% block page_content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <card>
          <template slot="header">
            <h4 class="card-title">Individual Tax Payers</h4>
            <p class="card-category"></p>
          </template>

          <!-- content goes here -->
          <a href="{% url 'individual_create' %}" class="btn btn-sm btn-fill btn-success">Add New</a>

          <table class="table">
            <thead>
              <tr>
                <th>TIN</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Occupation</th>
                <th>Employment Status</th>
                <th colspan="2">Nationality</th>
              </tr>
            </thead>
            <tbody>
              {% for tax_payer in tax_payers %}
              <tr>
                <td>{{ tax_payer.tin }}</td>
                <td>{{ tax_payer.full_name }}</td>
                <td>{{ tax_payer.gender }}</td>
                <td>{{ tax_payer.occupation }}</td>
                <td>{{ tax_payer.employment_status }}</td>
                <td>{{ tax_payer.nationality }}</td>
                <td>
                  <a href="{% url 'individual_detail' tax_payer.id %}" class="btn btn-sm btn-fill btn-primary">Details</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% include "helpers/pagination.html" %}
          <!-- content ends -->

        </card>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}