{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{% static 'images/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="csrftoken" content="">

    <title>
      Joint Tax Boars {% block pageTitle %}{% endblock pageTitle %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body>
    <div id="app">
      {% block content %}
      
      {% endblock content %}
    </div>
    <!-- JS -->
    <script src="{% static 'manifest.js' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', event => {
        setTimeout(() => {
          let elems = document.getElementsByClassName('flash-msg')
          Array.prototype.forEach.call(elems, el => {
            el.parentNode.removeChild(el)
          })
        }, 5000)
      })
    </script>
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
